.user-dashboard{
    padding: 100px 80px;
    background-color: #0d1117;
    color: white;

}

.user-dashboard h1{
    font-size: 2.5rem;
    margin-bottom: 30px;
    padding: 0.5em;
}
.file-grid-container{
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(280px, 1fr));
    gap: 2em;
}
.upload-section{
    background-color: #161b22;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 0 10px 3px black;
    max-height: fit-content;
    max-width: 600px;
    
}

input[type = "file"]{
    display: none;
}

.inputFileName{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    height: fit-content;
}
.custom-file-upload{
    padding: 20px;
    text-align: center;
    max-height: fit-content;
    border: 2px rgb(37, 212, 243) dashed;
    cursor: pointer;
    width: 30%;
    flex: 1;
}
.custom-file-upload:hover{
    box-shadow: 0 0 8px  rgb(202, 71, 235);;
}

.file-name{
    width: 70%;
    padding: 20px;
    border: 2px #77f18f solid;


}
.upload-btn{
    padding: 10px 20px;
    background-color: #238636;
    border: none;
    color: white;
    border-radius: 10px;
    font-weight: bold;
}
.upload-btn:hover{
    background-color: #2ea043;
}